/* CALENDER */
/* variables & mixins */
/* @white: #FFFFFF;
@ltGrey: #EFEFEF;
@mdGrey: #C0C0C0;
@dkGrey: #CCCCCC;
@secondary:#2875C7;
@dkSecondary: darken(@secondary,10%);
@ltSecondary: lighten(@secondary,45%);
@borderColor: @dkGrey;
@background: @white; */

/* .vertical-center {
  display: flex;
  justify-content:center;
  align-items: center;
} */

/* // meat of the matter */
/* html {
    font-size: 62.5%;
} */

.upper-section {
  display: flex;
}

.addToDoForm {
  background-color: bisque;
  padding: 20px;
  height: fit-content;
}

body {
    background: grey;
}

.week-row {
    display: flex;
    width: 100%;
}

.row-week {
  display: flex;
  width: 100%;
}

.calendar {
    display: block;
    background:white;
    width: 800px;
    height: fit-content;
    border: solid 1px black;
    /* margin: 10px auto; */
    box-shadow: 0 0 15px 0 grey;
    font-size: 1.3rem;
    text-align: center;
}

.calendar header {
    /* display: flex;
    justify-content:center;
    align-items: center; */
    color: green;
    cursor: default;
    font-size:1.4rem;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
}
        
.calendar header .month-display {
    align-items: center;
    height: 40px;
    background: grey;
}

.calendar header .month-display .month-label { 
  flex: 1;
}
      
.calendar header .month-display .month-label .arrow {
  text-align: center;
  flex-basis: 15%;
  font-weight: bold;
  cursor: pointer;
  transition: .2s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
          
.calendar header .month-display .month-label .arrow:hover {
    background: red;
}

  
.week {
    border-top: solid 1px black;
}

.week:first-child {
    border-top: none;
}

  
.day-names {
    color: black;
    font-weight: bold;
    cursor: default;
    font-size: 1.2rem;
}
        
.day-names .day {
  cursor: default;
}
            
.day-names .day:hover {
  background: inherit;
}
  
.day {
    flex: 1;
    height: 100px;
    border: solid 1px black;
    cursor: pointer;
    transition: all .2s;
    display: flex;
    width: 100%;
}

.addToDoButton {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

.addToDoButton:hover {
  background-color: lightblue;
}

.day:hover {
  background: grey;
}

.day:first-child {
    border-left:none;
}

.day.today {
    background: darkgrey;
}

.day.different-month {
    color: grey;
}

.day.selected {
    background: lightgreen;
    color: black;
}









/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
